/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"

/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "disabled";
};

&am33xx_pinmux {
	nxp_hdmi_bonelt_pins: nxp_hdmi_bonelt_pins {
		pinctrl-single,pins = <
			0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
			0xa0 0x08       /* lcd_data0.lcd_data0, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xa4 0x08       /* lcd_data1.lcd_data1, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xa8 0x08       /* lcd_data2.lcd_data2, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xac 0x08       /* lcd_data3.lcd_data3, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb0 0x08       /* lcd_data4.lcd_data4, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb4 0x08       /* lcd_data5.lcd_data5, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xb8 0x08       /* lcd_data6.lcd_data6, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xbc 0x08       /* lcd_data7.lcd_data7, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc0 0x08       /* lcd_data8.lcd_data8, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc4 0x08       /* lcd_data9.lcd_data9, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xc8 0x08       /* lcd_data10.lcd_data10, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xcc 0x08       /* lcd_data11.lcd_data11, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd0 0x08       /* lcd_data12.lcd_data12, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd4 0x08       /* lcd_data13.lcd_data13, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xd8 0x08       /* lcd_data14.lcd_data14, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xdc 0x08       /* lcd_data15.lcd_data15, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
			0xe0 0x00       /* lcd_vsync.lcd_vsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xe4 0x00       /* lcd_hsync.lcd_hsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xe8 0x00       /* lcd_pclk.lcd_pclk, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			0xec 0x00       /* lcd_ac_bias_en.lcd_ac_bias_en, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
		>;
	};
	nxp_hdmi_bonelt_off_pins: nxp_hdmi_bonelt_off_pins {
		pinctrl-single,pins = <
			0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
		>;
	};

	gpmc_pins: pinmux_gpmc_pins {
		pinctrl-single,pins = <
			0x000 0x30	/* gpmc_ad0.gpmc_ad0 MODE0 | INPUT | PULLUP */
			0x004 0x30	/* gpmc_ad1.gpmc_ad1 MODE0 | INPUT | PULLUP */
			0x008 0x30	/* gpmc_ad2.gpmc_ad2 MODE0 | INPUT | PULLUP */
			0x00C 0x30	/* gpmc_ad3.gpmc_ad3 MODE0 | INPUT | PULLUP */
			0x010 0x30	/* gpmc_ad4.gpmc_ad4 MODE0 | INPUT | PULLUP */
			0x014 0x30	/* gpmc_ad5.gpmc_ad5 MODE0 | INPUT | PULLUP */
			0x018 0x30	/* gpmc_ad6.gpmc_ad6 MODE0 | INPUT | PULLUP */
			0x01C 0x30	/* gpmc_ad7.gpmc_ad7 MODE0 | INPUT | PULLUP */
			0x020 0x30	/* gpmc_ad8.gpmc_ad8 MODE0 | INPUT | PULLUP */
			0x024 0x30	/* gpmc_ad9.gpmc_ad9 MODE0 | INPUT | PULLUP */
			0x028 0x30	/* gpmc_ad10.gpmc_ad10 MODE0 | INPUT | PULLUP */
			0x02C 0x30	/* gpmc_ad11.gpmc_ad11 MODE0 | INPUT | PULLUP */
			0x030 0x30	/* gpmc_ad12.gpmc_ad12 MODE0 | INPUT | PULLUP */
			0x034 0x30	/* gpmc_ad13.gpmc_ad13 MODE0 | INPUT | PULLUP */
			0x038 0x30	/* gpmc_ad14.gpmc_ad14 MODE0 | INPUT | PULLUP */
			0x03C 0x30	/* gpmc_ad15.gpmc_ad15 MODE0 | INPUT | PULLUP */
			0x080 0x08	/* gpmc_cscn1.gpmc_cscn1 MODE0 | OUTPUT */
			0x08C 0x28	/* gpmc_clk.gpmc_clk MODE0 | OUTPUT */
			0x090 0x08	/* gpmc_advn_ale.gpmc_advn_ale MODE0 | OUTPUT */
			0x094 0x08	/* gpmc_oen_ren.gpmc_oen_ren MODE0 | OUTPUT */
			0x098 0x08	/* gpmc_wen.gpmc_wen MODE0 | OUTPUT */
			0x09C 0x08	/* gpmc_ben0_cle.gpmc_ben0_cle MODE0 | OUTPUT */
			0x078 0x08	/* gpmc_ben1_cle.gpmc_ben1_cle MODE0 | OUTPUT */
		>;
	};

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x158 0x72	/* spi0_d1.i2c1_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2 */
			0x15c 0x72	/* spi0_cs0.i2c1_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2 */
		>;
	};

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			0x178 0x73 /* (SLEWCTRL_SLOW | PIN_INPUT_PULLUP | MUX_MODE3) uart1_ctsn.i2c2_sda */
			0x17c 0x73 /* (SLEWCTRL_SLOW | PIN_INPUT_PULLUP | MUX_MODE3) uart1_rtsn.i2c2_scl */
		>;
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	status = "okay";
	clock-frequency = <400000>;

	gpio_expander: gpio_expander_0@24 {
		gpio-controller;
		#gpio-cells = <2>;

		device_type = "io_expander";
		compatible = "pca9534";
		reg = <0x24>;
	};
};

&gpmc {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&gpmc_pins>;

	/* chip select ranges */
	ranges = <1 0 0x01000000 0x1000000>;

	nor@1,0 {
		status = "okay";

		compatible = "simple-framebuffer";
		width = <64>;
		height = <64>;
		stride = <(64*2)>;
		format = "r5g6b5"; //a8r8g8b8;

		reg = <1 0 0x01000000>;	/*CSn1*/

		bank-width = <2>; /* GPMC_CONFIG1_DEVICESIZE(1) */

		gpmc,sync-clk-ps = <20000>;	/* Minimum clock period for synchronous mode, in picoseconds */

		/* Chip-select signal timings (in nanoseconds) corresponding to GPMC_CONFIG2: */
		gpmc,cs-on-ns = <0>; /* Assertion time */
		gpmc,cs-rd-off-ns = <100>; /* Read deassertion time */
		gpmc,cs-wr-off-ns = <40>; /* Write deassertion time */

		/* ADV signal timings (in nanoseconds) corresponding to GPMC_CONFIG3: */
		gpmc,adv-on-ns = <0>; /* Assertion time */
		gpmc,adv-rd-off-ns = <20>; /* Read deassertion time */
		gpmc,adv-wr-off-ns = <20>; /* Write deassertion time */

		/* WE signals timings (in nanoseconds) corresponding to GPMC_CONFIG4: */
		gpmc,we-on-ns = <20>; /* Assertion time */
		gpmc,we-off-ns = <40>; /* Deassertion time */

		/*  OE signals timings (in nanoseconds) corresponding to GPMC_CONFIG4: */
		gpmc,oe-on-ns = <20>; /* Assertion time */
		gpmc,oe-off-ns = <100>; /* Deassertion time */

		/* Access time and cycle time timings (in nanoseconds) corresponding to GPMC_CONFIG5: */
		gpmc,page-burst-access-ns = <20>; /* Multiple access word delay */
		gpmc,access-ns = <80>; /* Start-cycle to first data valid delay */
		gpmc,rd-cycle-ns = <120>; /* Total read cycle time */
		gpmc,wr-cycle-ns = <60>; /* Total write cycle time */
		gpmc,bus-turnaround-ns = <0>; /* Turn-around time between successive accesses */
		gpmc,cycle2cycle-delay-ns = <0>; /* Delay between chip-select pulses */
		gpmc,clk-activation-ns = <0>; /* GPMC clock activation time */
		gpmc,wait-monitoring-ns = <0>; /* Start of wait monitoring with regard to valid data */

		/* Boolean timing parameters. If property is present parameter enabled and disabled if omitted: */
		/* gpmc,adv-extra-delay; */ /* ADV signal is delayed by half GPMC clock */
		/* gpmc,cs-extra-delay; */ /* CS signal is delayed by half GPMC clock */
		/* gpmc,cycle2cycle-diffcsen; */ /* Add "cycle2cycle-delay" between successive cesses to a different CS */
		/* gpmc,cycle2cycle-samecsen; */ /* Add "cycle2cycle-delay" between successive cesses to the same CS */
		/* gpmc,oe-extra-delay; */ /* OE signal is delayed by half GPMC clock */
		/* gpmc,we-extra-delay; */ /* WE signal is delayed by half GPMC clock */
		/* gpmc,time-para-granularity: */ /* Multiply all access times by 2 */

		/* The following are only applicable to OMAP3+ and AM335x: */
		gpmc,wr-access-ns = <40>; /* In synchronous write mode, for single or burst accesses, defines the number of GPMC_FCLK cycles from start access time to the GPMC_CLK rising edge used by the memory device for the first data capture. */
		gpmc,wr-data-mux-bus-ns = <20>; /* In address-data multiplex mode, specifies the time when the first data is driven on  the address-data bus. */

		/* GPMC chip-select settings properties for child nodes. All are optional. */

		/* gpmc,burst-length = <16>; */ /* Page/burst length. Must be 4, 8 or 16. */
		/* gpmc,burst-wrap */ /* Enables wrap bursting */
		/* gpmc,burst-read */ /* Enables read page/burst mode */
		/* gpmc,burst-write */ /* Enables write page/burst mode */
		/* gpmc,device-width */ /* Total width of device(s) connected to a GPMC chip-select in bytes. The GPMC supports 8-bit and 16-bit devices and so this property must be 1 or 2. */
		gpmc,mux-add-data = <2>; /* Address and data multiplexing configuration. Valid values are 1 for address-address-data multiplexing mode and 2 for address-data multiplexing mode. */
		gpmc,sync-read; /* Enables synchronous read. Defaults to asynchronous is this is not set. */
		gpmc,sync-write; /* Enables synchronous writes. Defaults to asynchronous is this is not set. */
		/* gpmc,wait-pin */ /* Wait-pin used by client. Must be less than "gpmc,num-waitpins". */
		/* gpmc,wait-on-read */ /* Enables wait monitoring on reads. */
		/* gpmc,wait-on-write */ /* Enables wait monitoring on writes. */
	};
};

&lcdc {
	status = "okay";
};

/ {
	hdmi {
		compatible = "ti,tilcdc,slave";
		i2c = <&i2c0>;
		pinctrl-names = "default", "off";
		pinctrl-0 = <&nxp_hdmi_bonelt_pins>;
		pinctrl-1 = <&nxp_hdmi_bonelt_off_pins>;
		status = "disabled";
	};
};

&rtc {
	system-power-controller;
};


